nav  {
    display: inline;
    text-decoration: none;
    padding: 50px;
}

a {
    float: right;
    text-decoration: none;
    padding-right: 50px;
    scroll-padding-left: 50px;
    padding-top: 40px;
    color: black; 
    font-family: 'Raleway', sans-serif;

   
}
main section div img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

}
#two {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
/* #three {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
} */
.one {
    margin: 15px;

}

p {
    overflow: scroll;
    display: block;
   width: 360px;
    
}

button {
    transition-duration: 350 ms;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  footer {
    background-color: #444444;
    height: 60px;
    width: 100%;
    margin-top: 2%;
}
