
header{
    background-color: #444444;
    
}


header  nav ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    margin-left: 40px;
    

}
li{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 0;
    padding: 30px;
    
   
}

main section div img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    
  

}
nav{
    padding : 10px 0;
}
main section:first-of-type div{
    padding-top: 30px;
}
#two {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.one {
    margin: 15px;

}
.par {
    padding-left: 30px;
    width: 50%;
}
.container {
    width: 960px;
    margin : 0 auto;
    display: flex;
}

p {
   
    width: 450px;
    height: 350px;
    overflow-y:scroll;
    display: block;

}
button {
    transition-duration: 350 ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    /* scroll-padding-right: 30px; */
    background-color: black;
    color: white;
    
    margin-top: 10px;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
  footer {
    background-color: #444444;
    height: 60px;
    width: 100%;
    margin-top: 2%;
    
}
